@{
    ViewBag.Title = "Getting Started";
    ViewBag.Message = "Getting Started";
}
<br /><br />
<h2>@ViewBag.Title</h2>
<!---<h3>@ViewBag.Message</h3> -->

<p>Through this application you will provide feedback on your direct reports for the specified review
    cycle.  Include comments on what they have done well, and where you would like them to improve.
      All information is shared between you and your direct reports.</p>
<br />
<p>Navigation Tips:</p>
<ul>
    <li>Mid-Year Feedback: This link contains your available review cycles for mid-year feedback, allowing you to present feedback on individuals, and modify them as long as they are open</li>
    <li>End-of-Year Feedback: Here you will provide feedback on how the year has gone as a whole, taking into account the feedback shared during the mid-year cycle as applicable.</li>
</ul>
